<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photothèque 1.1</title>
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <% if (cssFile) { %>
        <link rel="stylesheet" href="/css/<%= cssFile %>">
    <% } %>
</head>