apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: configsvr
spec:
  serviceName: "configsvr"
  replicas: 1
  selector:
    matchLabels:
      app: configsvr
  template:
    metadata:
      labels:
        app: configsvr
    spec:
      containers:
      - name: configsvr
        image: mongo:6.0
        command:
          - mongod
          - "--configsvr"
          - "--replSet"
          - "configReplSet"
          - "--port"
          - "26050"
          - "--bind_ip_all"
        ports:
        - containerPort: 26050
        volumeMounts:
        - name: data
          mountPath: /data/db
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
