apiVersion: apps/v1
kind: Deployment
metadata:
  name: phototheque-web-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: phototheque-web
  template:
    metadata:
      labels:
        app: phototheque-web
    spec:
      containers:
        - name: phototheque-web
          image: phototheque-web:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_URI
              value: "mongodb://mongos-service:27017/phototheque"
          volumeMounts:
            - name: uploads-volume
              mountPath: /usr/src/app/public/uploads
      volumes:
        - name: uploads-volume
          persistentVolumeClaim:
            claimName: uploads-pvc

# On build l'image
# docker build -t phototheque-web:1.0 .
# On crée ensuite un déploiement de nos 3 replicas de pods
# kubectl apply -f replication/deployment.yaml
# On crée enfin un service pour exposer nos pods à l'extérieur via <NodeIp>:<NodePort> et on n'y accède via localhost:<NodePort>
# kubectl apply -f replication/service.yaml
# kubectl get services
# NB: le port 3003 utilisé dans l'application Js doit être le même dans le fichier service.yaml